*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}


/* Login Page Styling */
body#loginBody{
    background: url('../assets/images/login-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

div.loginHeader{
    text-align: center;
    margin-top: 70px;
}

div.loginHeader h1{
    font-size: 60px;
    color: rgb(155, 153, 19);
    padding: 0px;
    margin: 0px;
}

div.loginHeader p{
    font-size: 60px;
    color:rgb(155, 153, 19);
    display: inline-block;
}

div.loginMenu form{
    margin: 0 auto;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border: 2px solid #ffffff;
    border-radius: 8px;
}

div.inputContainer{
    margin-top: 30px;
}

div.inputContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #aaed8b;
}

div.inputContainer input{
    height: 30px;
    width: 100%;
    border: 2px solid rgb(244, 244, 230);
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

div.buttonContainer{
    margin-top: 30px;
    text-align: center;
}

div.buttonContainer button{
    font-size: 20px;
    padding: 10px 40px;
    background-color: rgba(142, 235, 175, 0.5);
    border: none;
    color: #e0dbdb;
}

div#errorMessage{
    background: #fff;
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 10px;
}

/* Homepage Styling */
div.homePageBanner{
    background: url('../assets/images/banner-background.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;
}

div.bannerContainer{
    width: 100%;
    max-width: 900px;
    height: 25vh;
    margin: 0 auto;
}

div.bannerHeader h1{
    font-size: 50px;
    color: #fb4b77;
    line-height: 100%;
}

div.bannerHeader p{
    margin-top: 5px;
    font-size: 20px;
    color: #fb4b77;
    line-height: 100%;
}

p.bannerBody{
    margin-top: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

div.browserLoginLink{
    font-size: 25px;
    text-decoration: none;
}

div.browserLoginLink:hover{
    font-weight: bold;
    color: #f8a4b9;
    transition: 0.5s all;
}

div.bannerIcons{
    margin-top: 15px;
}

div.bannerIcons a{
    text-align: center;
    font-size: 25px;
    margin-left: 40px;
    padding-top: 10.5px;
    background: rgba(0, 0, 0, 0.5);
    color: #868485;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
}

div.bannerIcons a:first-child{
    margin-left: 0px;
}

div.bannerIcons a:hover{
    color: #ffffff;
    font-size: 25px;
    background: #f685a1;
    transition: .5s all;
}

div.homePageFunctionsShowcase{
    display: flex;
    flex-direction: column;
}

div.functionShowCaseHeader{
    padding: 10px 10px;
    text-align: center;
}

div.functionDescription{
    padding: 30px;
    text-align: center;
}

div.functionDescription:hover{
    border-top: 2px solid #f8a4b9;
    transition: 0.5s all;
    border-bottom: 2px solid #f8a4b9;
    transition: 0.5s all;
}

div.functionDescription span.functionIcon{
    height: 80px;
    width: 80px;
    display: inline-block;
    font-size: 40px;
    background: #f685a1;
    color: #fff;
    padding-left: 2px;
    padding-top: 20px;
    border-radius: 50%;
}

div.functionDescription h3.functionTitle{
    margin-bottom: 5px;
}

div.functionDescription p.functionBody{
    color: #848484;
}

div.homePageEmailPrompt{
    background: #e3e3e3;
    padding: 50px 0px;
}

div.homePagePromptContainer{
    display: flex;
    flex-direction: row;
}

div.emailRequestForm{
    width: 40%;
}

div.homePageEmailImage{
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

div.homePageEmailPrompt h3{
    padding-top: 60px;
    padding-left: 100px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

div.homePageEmailPrompt p{
    padding-left: 150px;
    color: #848484;
    line-height: 150%;
    margin-bottom: 60px;
    margin-top: 30px;
}

div.formContainer{
    width: 80%;
    position: relative;
    padding-left: 200px;
}

div.formContainer input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
}

div.formContainer input:focus{
    outline: none;
}

div.formContainer button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 22px;
    padding: 0px 10px;
    background: #f685a1;
    border: none;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.homePageEmailImage{
    width: 80%;
    height: 100%;
}

div.homePageSocialsPrompt{
    text-align: center;
    padding: 50px 20px;
}

h3.socialsHeader{
    font-size: 30px;
}

p.socialsBody{
    margin-top: 5px;
    margin-bottom: 15px;
    color: #848484;
}

div.socialsIconsContainer a{
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding-top: 15px;
    background: #d4d4d4;
    border-radius: 50%;
    color: #fff;
    margin-left: 20px;
}

div.socialsIconsContainer a:hover{
    background: #f8a4b9;
    transition: 0.3s all;
}

div.footer{
    background: #e3e3e3;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

div.footer a{
    color: #848484;
    margin-left: 60px;
    padding-left: 200px;
    text-decoration: none;
}

div.footer a:hover{
    font-weight: bold;
    color: #f8a4b9;
    transition: 0.5s all;
}


/* Dashboard Styling */
#dashBoardMainContainer{
    display: flex;
    flex-direction: row;
}

div.dashBoardToggleSideBar{
    width: 18%;
    background: #332323;
    height: 100vh;
}

div.dashBoardContentContainer{
    width: 70%;
    background: #f4f6f9;
}

h3.sideBarTitle{
    color: #f685a1;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 7px;
    margin-bottom: 30px;
    text-align: center;
}

div.dashBoardUserSection{
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

div.dashBoardUserSection img{
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #f685a1;
    margin-right: 5px;
    vertical-align: middle;
}

div.dashBoardUserSection span{
    top: 20%;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    margin-bottom: 40px;
}

ul.dashBoardSideBarMenus {
    padding-left: 10px;
    margin-top: 20px;
}

ul.dashBoardSideBarMenus li{
    padding: 15px 10px;
    font-size: 18px;
    text-transform: uppercase;
}

ul.dashBoardSideBarMenus li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

ul.dashBoardSideBarMenus li a i{
    font-size: 25px;
}

ul.dashBoardSideBarMenus li.sideBarActive{
    background: #f685a1;
    color: #fff;
}

ul.dashBoardSideBarMenus li:hover{
    background: #f685a1;
    color: #fff;
    transition: 0.3s all;
}

div.contentTopNavBar{
    background: #332323;
    padding: 20px;
}

div.contentTopNavBar a{
    color: #848383;
    font-size: 20px;
    text-decoration: none;
}

a#logOutButton{
    float: right;
}

div.dashBoardContent{
    padding: 20px 10px 10px 10px;
}

div.contentMainBody{
    background: #fff;
    min-height: 800px;
    height: 100%;
}



